<div class="top">
  <img class="top-background" src="assets\images\Group 5.png">
  <img class="zoomingo-logo-img" src="assets\images\Group 4.png" />
</div>
<div class="content">
    <!-- [question]="questions[0]" -->
  <app-question></app-question>
  <div class="buttons-line">
    <button class="index-button" 
            *ngFor="let q of questions; let i = index"
            [disabled]="enableQuestions > i ? false : true">
    </button>
  </div>
</div>


<div class="bottom">
  <img class="bottom-background" src="assets\images\Group 5.png">
</div>

